body{
    margin: 0px;
}

::selection {
    background-color: #c7ef00;
    color: #000000;
}

/* blog page outer*/
.outercon{
    background-image: url("../image/1home-bg-free-img.jpg");
    background-size: cover;
    height:800px;
}

.h{
    background-color:#13302aa6; 
    height:800px;
  
}

.head0{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.logo{
margin: 40px 0px;
}

.menu{
width:50%;
margin:20px 0px;


}

.menu  li{
display: inline-block;
list-style-type:none;
margin: 5px 30px 5px 0px ;
padding:20px 0px;


}
.a2:hover{
color:#c7ef00;
}
#a3
{
color: #21759b;
border:1px solid white;
background-color: white;
border-radius: 5px;
padding: 10px 15px;
}
#a3:hover{
background-color: #c7ef00;
border:1px solid #c7ef00;
color:black;
}
.menu li a{
text-decoration: none;
color:#e0e0e0;
font-family: monospace;
font-size: 17px;
font-weight: 600;

}
#a1{
color: #c7ef00;
font-family: monospace;
font-size: 17px;
font-weight: 600;
}
/*header end*/
.sub2{
width:80%;
margin: auto;
color:white;
}

.s2{
width: 50%;
margin: 50px 0px 60px 0px;
}

.hh{
font-size:45px;
font-weight:bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.pp{
font-size: 17px;
line-height:30px;
margin-bottom: 70px;
}
#a33:hover{
background-color: #c7ef00;
border:1px solid #c7ef00;
color:black;
font-family: monospace;
font-size: 20px;
border-radius: 5px;
padding: 10px 15px;  font-weight: 600;

}
#a33
{
color: #21759b;
border:1px solid white;
background-color: white;
border-radius: 5px;
padding: 10px 15px;
font-size: 20px;
font-weight: 600;
font-family: monospace;
text-decoration: none;
}
.bo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    background-image: linear-gradient(180deg, #13302a 0%, #0b2128 90%);
   margin-bottom:-51px;

}
.b2{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-transform: uppercase;
    line-height: 1px;
}
.b3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: #ffffff;
    font-size: 23px; 
    font-family: 'Squada One', display;
    text-transform: uppercase;
}
.b4{
    background-color: #0b2128;
    background-size: cover;
}
.part4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#ffffff; 
    margin-top: 50px;
   
    
}
.htwo
{
    font-size: 48px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}
.hf{
    text-align: center;
    color:#bfbfbf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}
.part5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#ffffff;
    margin-top: 50px;   
}
.hh2{
    font-size:32px;
    font-weight:bolder;
    text-align: center;
    
}
.part15{
 
    margin-bottom: 50px;
}
.part51{
  
    margin-bottom: 50px;
}
.par1{

    top: 3981px;
    right: 1203px;
}

.par2{

    top: 3992px;
    right: 486px; 
    
}
.a32:hover{
background-color: #c7ef00;
    border:1px solid #c7ef00;
    color:black;
    font-family: monospace;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;  font-weight: 600;
}
.a32{
    
    margin-left: 210px;
color: #21759b;
    border:1px solid white;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    text-decoration: none;
}
.hh4{
    font-size:32px;
    font-weight:bolder;
    text-align: center;
    margin-top: 50px; 
    margin-bottom:60px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
/* footer*/
.section2{
    background-image: url("../image/footer-bg-free-img.jpg");
    background-size: cover;
    

    
}
.hh3{

    text-transform: uppercase;
    color:#c7ef00;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0px;

}
.hh31{
    
    text-transform: uppercase;
    color:#c7ef00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
   
    margin-bottom: 40px;   
}
.hh32{
    
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}
.hh33{
    
    text-transform: uppercase;
    color:#c7ef00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 40px;
    margin-bottom: 40px;   
}
.hh34{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;   
}
.sec1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top:150px;
  
 
}
.li1{
    margin-bottom:20px;
    list-style-type:none;

}
.li1>a{
    text-decoration: none;
    color:#e0e0e0;
    font-size:18px;
   
}
.li1>a:hover{
    color:#c7ef00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.c1{
    width:200px;
    
}
.c2{
    width:208px;
}
.c3{
    width:240px;

}
.c4{
    width:208px;

}
.c5{
    width:350px;
}
.li2{
    list-style-type:none;  
    display: inline-block;
    margin-right:10px;  
}
.li2> a{
   color:#1d1d44;
}
.li2 a #i1:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
#i1{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 13px;
    line-height: 20px;
}
#i2{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 18px;
    line-height: 20px;
}
.li2 a #i2:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
#i3,#i4,#i5{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 15px;
    line-height: 20px;
}

.li2 a #i4:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
.li2 a #i5:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
.li2 a #i3:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
#top{
    background-color: rgba(199,239,0,0.8);
    border:1px solid rgba(199,239,0,0.8);
    font-size: 25px;
    padding:5px 10px;
    position: fixed;
    right:12px ;
    bottom: 40px;
    color:white;
    
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#e0e0e0;
    margin-top: 30px;
   
    
}
.a5{
    text-decoration: none;
    color:white;
}
.if{
    width:600px; 
    height:450px;
    border: 0px;
}
.img5{
    width:100%;
}