body{
    margin: 0px;
}
/*clsseses page outer*/
.outerone{
   
    
   background-color: #0b2128;

}
/*header*/
.head1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   }
   .logo{
       margin: 40px 0px;
   }
   
   .menu{
       width:50%;
       margin:20px 0px;
      
    
   }
  
   .menu  li{
       display: inline-block;
       list-style-type:none;
       margin: 5px 30px 5px 0px ;
       padding:20px 0px;
   
   
   }
   .a2:hover{
       color:#c7ef00;
   }
   #a3
   {
       color: #21759b;
       border:1px solid white;
       background-color: white;
       border-radius: 5px;
       padding: 10px 15px;
   }
   #a3:hover{
       background-color: #c7ef00;
       border:1px solid #c7ef00;
       color:black;
   }
   .menu li a{
       text-decoration: none;
       color:#e0e0e0;
       font-family: monospace;
      font-size: 17px;
      font-weight: 600;
   
   }
   #a1{
       color: #c7ef00;
       font-family: monospace;
       font-size: 17px;
       font-weight: 600;
   }
  /* end*/
  .bbg{
      background-color:#f3f3f3;
      background-size: cover;
      padding: 60px 50px 50px 50px;

     
  }
  .unc{
      
    background-color:#e8e8e8;
    background-size: cover;
    width:91%;
    margin: auto;
   
    padding:40px; 
  }
  .unc1{
    font-family: 'Squada One', display;
    text-transform: uppercase;
    font-size:40px;
    margin-bottom: 4px;
    font-weight: 600;
    color: #c7ef00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
.uns1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#a55{
    border-radius: 50%;
    margin: 0 0 0 20px; 
}


  .bset{
    background-color:white;
    background-size: cover;
    width:95%;
    margin: auto;
  }
  .con{
      padding: 80px;
  }
  .h0 a{
 color: black;
 font-size:28px;
    text-transform: uppercase;
   text-decoration: none;
    margin-bottom:10px;
    font-weight: 400;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
.pn a{
    color:#c7ef00;
   font-size: 17px;
   font-weight: 400;
   text-decoration: none;
}
.pn a:hover{
    color:black;
}

.pn span{
    color:#c7ef00;
    font-size: 17px;
    font-weight: 400;
}


.pf{
    margin-top: 50px;
    margin-bottom: 90px;
    font-size:17px;
    line-height: 30px;
    font-weight: 100;  
    color:#545454;
}
::selection {
    background-color: #c7ef00;
    color: #000000;
}
.po{
    color:#c7ef00;
   font-size: 17px;
   font-weight: 400;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.po:hover{
    color:black;
}
.section2{
    background-image: url("../image/footer-bg-free-img.jpg");
    background-size: cover;
    

    
}
.hh3{
   
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color:#c7ef00;
    text-align: center;
    margin-bottom: 40px;
    margin-left:0px;

}
.hh31{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;   
}
.hh32{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;   
}
.hh33{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;   
}
.hh34{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color:#c7ef00;
    margin-left:40px;
    margin-bottom: 40px;   
}
.sec1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top:150px;
  
 
}
.li1{
    margin-bottom:20px;
    list-style-type:none;

}
.li1>a{
    text-decoration: none;
    color:#e0e0e0;
    font-size:18px;
   
}
.li1>a:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#c7ef00;
}
.c1{
    width:200px;
    
}
.c2{
    width:208px;
}
.c3{
    width:240px;

}
.c4{
    width:208px;

}
.c5{
    width:350px;
}
.li2{
    list-style-type:none;  
    display: inline-block;
    margin-right:10px;  
}
.li2> a{
   color:#1d1d44;
}
.li2 a #i1:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
#i1{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 13px;
    line-height: 20px;
}
#i2{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 18px;
    line-height: 20px;
}
.li2 a #i2:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
#i3 ,#i4,#i5{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:100px;
    padding: 12px 15px;
    line-height: 20px;
}
.li2 a #i3:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
.li2 a #i4:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}
.li2 a #i5:hover{
    background-color: #c7ef00;
    border:1px solid #c7ef00;
    border-radius:100px;
    color:black;
}

#top{
    background-color: rgba(199,239,0,0.8);
    border:1px solid rgba(199,239,0,0.8);
    font-size: 25px;
    padding:5px 10px;
    position: fixed;
    right:12px ;
    bottom: 40px;
    color:white;
    
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#e0e0e0;
    margin-top: 30px;
   
    
}
.a5{
    text-decoration: none;
    color:white;
}
.img2{
    width:100%;
}




